<!-- views/partials/_header.ejs -->

<!DOCTYPE html>


  <h3>Welcome to TinyApp!</h3>

<% if (userEmail) { %>
<%= userEmail %>
 <!-- logout form -->
  <form method="POST" action="/logout" style="display: inline" >
    <input type="submit" value="Logout">
  </form>

<% } else { %>
<p style="text-align: right;">
  <a href="/login">Login</a>
  <a href="/register">Register</a>
</p>

<% } %>




