<!-- views/partials/_header.ejs -->

<!DOCTYPE html>

  <h3>Welcome to TinyApp!</h3>

<% if (userEmail) { %>
<%= userEmail %>
 <!-- logout form -->
  <form method="POST" action="/logout">
    <input type="submit" value="Logout">
  </form>

<% } else { %>
<p class="links">
  <a href="/login">Login</a>
  <a href="/register">Register</a>
</p>

<% } %>




