<!-- views/partials/_header.ejs -->

<!DOCTYPE html>


  <h3>Welcome to TinyApp!</h3>

  <form method="POST" action="/login">
    <input id="username" type="text" name="username" placeholder="Username" style="width: 150px">
    <input type="submit" value="Submit">
  </form>

