<!-- views/partials/_header.ejs -->

<!DOCTYPE html>

  <a id="greeting" href="/urls">Welcome to TinyApp!</a>

<% if (userEmail) { %>
<h6><%= userEmail %></h6>
 <!-- logout form -->
  <form method="POST" action="/logout">
    <input type="submit" value="Logout">
  </form>

<% } else { %>
<p class="links">
  <a href="/login">Login</a>
  <a href="/register">Register</a>
</p>

<% } %>




