 <!-- login form -->
  <!DOCTYPE html>
  <html>
  <head>
    <title>TinyApp</title>
    <link rel="stylesheet" href="/login.css" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Poppins" rel="stylesheet" type="text/css">
  </head>
  <body>
    <h3>TinyApp</h3>
    <h5>Login</h5>

    <% if (userEmail) { %>
    <%= userEmail %>
 <!-- logout form -->
  <span class="logout">
     <form method="POST" action="/logout">
       <input type="submit" value="Logout">
     </form>
  </span>


  <% } else { %>
  <!-- login form -->
  <span class="login">
     <form method="POST" action="/login">
       <input id="email" type="email" name="email" placeholder="Enter Email">
       <input id="password" type="password" name="password" placeholder="Enter Password">
       <input type="submit" value="Login">
     </form>
  </span>
  <% } %>

  </body>
  </html>

