<!DOCTYPE html>
<html lang="en">
<head>
  <title>TinyApp</title>
  <link rel="stylesheet" href="/register.css" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Poppins" rel="stylesheet" type="text/css">
</head>
<body>
  <header>
    <% include  ./partials/_header %>
    <h5>Register Below to Start Shortening Urls</h5>
  </header>
   <ul>
    <form method="POST" action="/register">
      <p>
        <h6><label for="email">Enter Email</label></h6>
        <input id="email" type="email" name="email" placeholder="Email" style="width: 300px">
      </p>
      <p>
        <h6><label for="password">Enter Password</label></h6>
        <input id="password" type="password" name="password" placeholder="Password" style="width: 300px">
        <input type="submit" value="Submit">
      </p>
    </form>


</body>
</html>