<!DOCTYPE html>
<html lang="en">
<head>
  <title>TinyApp</title>
  <link rel="stylesheet" href="/register.css" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Poppins" rel="stylesheet" type="text/css">
</head>
<body>
  <header>
    <% include  ./partials/_header %>
  </header>
  <span class="register-form">
    <form method="POST" action="/register">
      <p>
        <h6><label for="email">Register Below to Start Shortening Urls</label></h6>
        <input id="email" type="email" name="email" placeholder="Email">
      </p>
      <p>
        <input id="password" type="password" name="password" placeholder="Password">
        <input type="submit" value="Submit">
      </p>
    </form>
  </span>


</body>
</html>