<!DOCTYPE html>

<html lang="en">
<head>
  <title>TinyApp</title>
</head>
<body>
  <header>
    <% include  ./partials/_header %>
  </header>

  <% for(var url in urls){ %>
      <li><%= urls[url] + ": " + url %></li>
      <form method="POST" action="/urls/<%= url %>/delete">
        <button type="submit">Delete This URL</button>
      </form>
   <% } %>
   <button type="submit">Shorten a link!</button>
</body>
<footer>
</footer>
</html>