<!DOCTYPE html>

<html lang="en">
<head>
  <title>TinyApp</title>
</head>
<body>
  <header>
    <% include  ./partials/_header %>
  </header>

  <% for(var url in urls){ %>
    <li><%= urls[url] + ": " + url %>
      <a href="/urls/<%= url %>">Edit</a> <!-- redirects to editing page -->
      <form method="POST" action="/urls/<%= url %>/delete" style="display: inline" >
        <button type="submit">Delete This URL</button>
      </form>
    </li>
  <% } %>
  <form action="/urls/new">
    <input type="submit" value="Shorten A New Link!" />
  </form>
<footer>
</footer>
</html>