body {
  background-color: #d6efec;
  display: inline-block;
  font-family: 'Poppins', sans-serif;
  margin: 20vw;
  margin-top: 0;
  text-align: center;
}

body header {
  margin: 0;
  text-align: left;
}

#greeting {
  color: #f78360;
  float: left;
  font-size: 8vh;
  margin-bottom: 0;
  text-decoration: none;
}

#greeting:hover {
  color: #fcc4b3;
}

body header p.links {
  color: #fcc4b3;
  float: right;
  font-size: 3vh;
  text-decoration: none;
}

body header a:link, a:visited {
  color: #f78360;
  text-decoration: none;
}


body header a:hover {
  color: #fcc4b3;
}

span.register-form {
  display: inline-block;
}

#email {
  border: 0.1vw solid #f78360;
  border-radius: 0.5vw;
  color: #da6e4e;
  display: block;
  font-size: 6vh;
  height: 10vh;
  margin-bottom: 3vh;
  padding-top: 1vh;
  text-align: center;
  width: 60vw;
}

#email::placeholder{
  color: #fcc4b3;
  font-style: italic;
  font-weight: 100;
  text-align: center;
}

#password {
  border: 0.1vw solid #f78360;
  border-radius: 0.5vw;
  color: #da6e4e;
  display: block;
  font-size: 6vh;
  height: 10vh;
  margin-bottom: 3vh;
  padding-top: 1vh;
  text-align: center;
  width: 60vw;
}

#password::placeholder{
  color: #fcc4b3;
  font-style: italic;
  font-weight: 100;
  text-align: center;
}

label[for="email"] {
  color: #f78360;
  font-size: 4vh;
  font-weight: 100;
}

input[type="submit"] {
  background-color: #ffeee9;
  border: 0.1vw solid #f78360;
  border-radius: 0.5vw;
  color: #f78360;
  font-size: 6vh;
  font-weight: 300;
  height: 10vh;
  margin-top: 2vh;
  width: 25vw;
}

input[type="submit"]:hover {
  background-color: #f78360;
  border: 0.1vw solid #ffeee9;
  color: #ffeee9;
}